<.form :let={f} for={@changeset} action={"/topics/#{@id}"} class="w-full">
  <div class="w-full flex flex-col items-center gap-5 mt-5 px-7">
    <.input field={f[:title]} placeholder="Title" />

    <.button>Save Topic</.button>
    <a href="/" class="text-purple-800 font-semibold">Cancel</a>
  </div>
</.form>